.project-description {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

@media all and (min-width: 700px) {
  .Touryst {
    padding: 10px 0px 50px 0px;
  }

  .textStyle {
    font-family: "Gill Sans"
  }

  a {
    text-decoration: none;
    color: darkslategray;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  .project-description {
    text-align: left;
  }
}
