.Touryst {
  padding-top: 10px;
}

.textStyle {
  font-family: "Gill Sans"
}

a {
  text-decoration: none;
  color: darkslategray;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
