.align-left {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.link-deco {
  text-decoration: none;
  color: chocolate;
}

.link-deco:visited {
  color: chocolate;
}

@media all and (min-width: 700px) {
  .Touryst {
    padding: 10px 0px 50px 0px;
  }

  .textStyle {
    font-family: "Gill Sans"
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  .align-left {
    text-align: left;
  }
}
