.container-style {
  background-color: #282c34 !important;
  width: 100%;
}

.phantomStyle {
  display:  block;
  padding: 20px;
  height: 60px;
  width: 100%;
}

.footerStyle {
  background-color: #282c34;
  font-size: 20px;
  color: white;
  border-top: 1px solid #E7E7E7;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.icon-size {
  height: 10px;
  width: 10px;
}
