.App {
  text-align: center;
  padding: 50px;
}

.navigation {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigation-sub {
  display: flex;
}

#override-bootstrap Link {
  justify-content: space-between;
}

.no-underline {
  text-decoration: none;
}

.spread {

}
