.App {
  text-align: center;
  padding: 50px;
}

.home-nav-links {

}

.landing {
  position: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#background-video {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.text-style {
  text-decoration: none;
  font-family: "Gill Sans";
  font-size: larger;
  color: white;
}

.text-style:hover {
  color: black;
}

.row-width {
  /*width: 0%;*/
}
