.App {
  text-align: center;
  padding: 50px;
}

.landing {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.text-style {
  text-decoration: none;
  font-family: "Gill Sans";
  font-size: larger;
  color: white;
}

.text-style:hover {
  color: #7FFFD4;
}
