.AboutMe {
  text-align: center;
}

h1 {
  padding-top: 80px;
}

.aboutMe-container {
  padding: 0px 40px 0px 40px;
}

.achievements {
  background-color: black;
  color: white;
  width: 100%;
  height: auto;
  padding: 50px;
  margin-top: 40px;
}

.google-scholarship {
  padding-bottom: 10px;
}

/*--Desktop Layout--*/
@media all and (min-width: 700px) {
  .introduction {
    display: flex;
    flex-direction: row;
  }

  .achievements {
    display: flex;
    flex-direction: row;
  }
}
