h1 {
  padding-top: 80px;
  text-align: center;
}

.paragraph-container {
  padding: 20px;
  text-align: center;
}

.achievements-container {
  flex-direction: column;
  background-color: black;
  color: white;
  width: 100%;
  height: auto;
  padding: 50px;
}

.center-text {
  text-align: center;
}

/*--Desktop Layout--*/
@media all and (min-width: 700px) {
  .flex-display {
    display: flex;
    flex-direction: row;
  }

  .achievements-container {
    display: flex;
    flex-direction: row;
  }

  .paragraph-padding {
    padding: 40px 40px 0px 40px;
    text-align: left;
  }

  .google-scholarship {
    height: 608px;
    width: 740px;
  }

  .text-x-lrg {
    font-size: x-large;
  }

  .text-lrg {
    font-size: larger;
  }

  .btm-margin {
    margin-bottom: 40px;
  }
}
